In [2]:
!pip3 install saxpy

Collecting saxpy
  Downloading https://files.pythonhosted.org/packages/c1/06/c912c97c8348ffabf47b7c010f400574ef9fcf38ba33b449437e58b60c48/saxpy-1.0.1.dev167.tar.gz (178kB)
    100% |████████████████████████████████| 184kB 3.8MB/s ta 0:00:01
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from saxpy) (1.16.3)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from saxpy) (4.4.1)
Requirement already satisfied: pytest-cov in /usr/local/lib/python3.7/dist-packages (from saxpy) (2.7.1)
Requirement already satisfied: codecov in /usr/local/lib/python3.7/dist-packages (from saxpy) (2.0.15)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->saxpy) (19.1.0)
Requirement already satisfied: pluggy>=0.9 in /usr/local/lib/python3.7/dist-packages (from pytest->saxpy) (0.9.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from pytest->saxpy) (1.12.0)
Requirement already satisfied: more-itertools>=4.0.0; python_version > "2.7" in /usr/local/lib/python3.7/dist-packages (from pytest->saxpy) (7.0.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->saxpy) (1.3.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->saxpy) (1.8.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->saxpy) (41.0.1)
Requirement already satisfied: coverage>=4.4 in /usr/local/lib/python3.7/dist-packages (from pytest-cov->saxpy) (4.5.3)
Requirement already satisfied: requests>=2.7.9 in /usr/lib/python3/dist-packages (from codecov->saxpy) (2.21.0)
Building wheels for collected packages: saxpy
  Running setup.py bdist_wheel for saxpy ... done
  Stored in directory: /root/.cache/pip/wheels/68/d1/a0/a2a4f96eb82607654bc45f00479af34ddd7c45be9096b8e63c
Successfully built saxpy
Installing collected packages: saxpy
Successfully installed saxpy-1.0.1.dev167

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
import statsmodels.api as sm
from statsmodels.graphics.api import qqplot
from pmdarima.arima import auto_arima
import multiprocessing as mp
import saxpy

sns.set(rc={'figure.figsize':(11.7,8.27)})

## Reading the datasets

df1 = pd.read_csv("data/BATADAL_dataset03.csv")
df2 = pd.read_csv("data/BATADAL_dataset04.csv")
df2.columns = df2.columns.str.replace(" ", "")
dftest = pd.read_csv("data/BATADAL_test_dataset.csv")

In [42]:
from saxpy.sax import sax_via_window

dat = df1['L_T1'].values

sax1 = sax_via_window(dat, 6, 3, 3, "none", 0.01)

In [43]:
different_patterns = list(sax1.keys())
state_counts = []

for pattern in different_patterns:
    if pattern != 0:
        state_counts.append([pattern, len(sax1[pattern])])
        
state_df = pd.DataFrame(state_counts, columns=['Key', 'Count']).sort_values('Count', ascending=False)
state_df

    Key  Count
5   cba   2921
2   abc   2883
1   aac    460
3   acc    414
10  acb    359
0   bac    355
11  caa    351
8   cca    299
7   bca    270
9   cab    267
4   aca     57
6   cac     53
13  bbb     27
17  bcb      9
18  bab      8
14  cbb      7
16  bba      7
12  abb      6
15  bbc      2

In [27]:
state_counts

      0 Count  Key
0   bac   NaN  NaN
1   355   NaN  NaN
0   aac   NaN  NaN
1   460   NaN  NaN
0   abc   NaN  NaN
1  2883   NaN  NaN
0   acc   NaN  NaN
1   414   NaN  NaN
0   aca   NaN  NaN
1    57   NaN  NaN
0   cba   NaN  NaN
1  2921   NaN  NaN
0   cac   NaN  NaN
1    53   NaN  NaN
0   bca   NaN  NaN
1   270   NaN  NaN
0   cca   NaN  NaN
1   299   NaN  NaN
0   cab   NaN  NaN
1   267   NaN  NaN
0   acb   NaN  NaN
1   359   NaN  NaN
0   caa   NaN  NaN
1   351   NaN  NaN
0   abb   NaN  NaN
1     6   NaN  NaN
0   bbb   NaN  NaN
1    27   NaN  NaN
0   cbb   NaN  NaN
1     7   NaN  NaN
0   bbc   NaN  NaN
1     2   NaN  NaN
0   bba   NaN  NaN
1     7   NaN  NaN
0   bcb   NaN  NaN
1     9   NaN  NaN
0   bab   NaN  NaN
1     8   NaN  NaN